
body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background-image: url(../images/Halo.jpg);
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.bordertest {
    border: 3px solid red;
}

h1 {
    font-size: 64px;
    text-align: center;
}

#anykey {
    position: relative;
    right: 31%;
    top: 73%;
}

#finish {
    position: relative;
    top:78%;
    right:20%;
}

#clickStart {
    position: relative;
    right: 21%;
    top: 85%;
}