
body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background-image: url(../images/Halo.jpg);
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.bordertest {
    border: 3px solid red;
}

#screen {
margin-top:3%;
}

header {
 padding-top: 10px;
}

#anykey {
    position: relative;
    right: 31%;
    top: 73%;
}

#finish {
    position: relative;
    top:78%;
    right:20%;
}

#clickStart {
    position: relative;
    right: 21%;
    top: 85%;
}

#menu {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 25px;
    color:rgb(147,163,189);
    background-color: rgb(10,28,55,0.75);
    margin-top: 20px;
    margin-bottom: 0px;
}

#kd {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 25px;
}

#skull, #sword {
    height: 20px;
    width:20px;
    position: absolute;
    top:8px;
    
}

#death-count-text, #kill-count-text {
    padding-left: 25px;
}